nav {
  padding: 15px 0;

  > a {
    display: block;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid;
    margin-bottom: 10px;
    text-decoration: none;
  }
}
