#pitch {
  width: 100%;
  height: 100vh;
  background: #26a226;
  display: flex;
  flex-direction: column;

  .player-row {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 100%;
  }
}

#bench {
  position: fixed;
  bottom: 15px;
  left: 15px;
  right: 15px;
  border-radius: 15px;
  max-height: 200px;
  background: #003DA5;
  display: flex;
  overflow: hidden;

  .scroll {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;

    .col {
      min-width: 20%;
      text-align: center;

      .player {
        padding: 20px;

        & > img {
          width: 120px;
        }

        .name {
          line-height: 16px;
          margin: 10px 0;
        }

        .position {
          display: none;
        }
      }
    }
  }
}
