nav {
  padding: 20px;

  > a {
    display: block;
    text-align: center;
    padding: 10px;
    border-radius: 15px;
    border: 1px solid;
    margin-bottom: 10px;
    text-decoration: none;
  }
}
